body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0;
}

header {
    padding: 1em;
    background-color: white;
    border: 1px dotted lightgray;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fishTank {
    display: flex;
    flex-wrap: nowrap;
    border: 1px dotted black;
}

.fishList {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.fishList_card {
    margin: 1em;
    flex-basis: 25%;
    background-color: tomato;
}

.fishList_card ul {
    list-style: none;
    padding: 0 20px;
}

.image_fish {
    width: 100%;
    height: auto;
}

aside {
    flex: 1;
    background-color: lightskyblue;
}